@charset "utf-8";

$scheme-main: rgba(20, 20, 20, 0.5);
$scheme-main-ter: rgba(50, 50, 50, 0.2);
$scheme-main-bis: rgba(50, 50, 50, 0.2);

$primary: #bf4000;
$dark: #450404;
$link: #f90;
$info: #bbb;
$text: #877b69;
$text-strong: rgb(227, 214, 196);

$family-secondary: 'Caslon Antique Regular';

$navbar-height: 41px;
$navbar-padding-vertical: 20px;
$navbar-item-color: rgb(255, 153, 0);
$navbar-item-hover-color: #fff;
$navbar-item-hover-background-color: 'transparent';

$table-cell-border: none;
$table-row-hover-background-color: rgba(0, 0, 0, 0.5);
$table-striped-row-even-hover-background-color: rgba(0, 0, 0, 0.5);
$table-head-cell-color: $link;

@import '../node_modules/bulma/bulma.sass';

// RoR style on navbar
nav.navbar {
  background: url('https://www.returnofreckoning.com/forum/styles/dawar/theme/images/bar-bg-red.jpg')
    no-repeat scroll 50% 100% #2a0304;
  font-family: Arial, sans-serif;
  font-size: 13px;
  border-bottom: 1px solid #7e0505;
}

a.navbar-item {
  border-right: 3px solid #450404;
  border-left: 1px solid #230101;
}

html {
  background: #000
    url('https://www.returnofreckoning.com/forum/styles/dawar/theme/images/theme/ror.jpg')
    no-repeat top center fixed;
}

@font-face {
  font-family: 'Caslon Antique Regular';
  font-style: normal;
  font-weight: normal;
  src:
    local('Caslon Antique Regular'),
    url('Caslo-an.woff') format('woff');
}

tr.scenario-scoreboard-row-team-0 {
  background-color: rgba(12, 47, 158, 0.2);
  border-bottom: 2px solid #000000;
}

tr.scenario-scoreboard-row-team-1 {
  background-color: rgba(158, 12, 13, 0.2);
  border-bottom: 2px solid #000000;
}

p.scenario-score-order {
  color: rgba(12, 47, 158);
  font-weight: bold;
}

p.scenario-score-destruction {
  color: rgba(158, 12, 13);
  font-weight: bold;
}

td.scenariolist-score-order {
  color: rgba(12, 47, 158);
  font-weight: bold;
}

td.scenariolist-score-destruction {
  color: rgba(158, 12, 13);
  font-weight: bold;
}

tr.skirmish-scoreboard-row-realm-order {
  background-color: rgba(12, 47, 158, 0.2);
  border-bottom: 2px solid #000000;
}

tr.skirmish-scoreboard-row-realm-destruction {
  background-color: rgba(158, 12, 13, 0.2);
  border-bottom: 2px solid #000000;
}

thead .ascending::after {
  content: url(../public/images/icons/scenario/uparrow.png);
  display: inline-block;
  position: absolute;
  top: 5px;
  transform: scale(0.5);
}

thead .descending::after {
  content: url(../public/images/icons/scenario/downarrow.png);
  display: inline-block;
  position: absolute;
  top: 10px;
  transform: scale(0.5);
}

div.scenario-scoreboard-tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(227, 214, 196);
  padding: 10px;
}

.tooltip {
  cursor: help;
}

// From defaultcolor.lua
$rarity-utility: rgb(150, 150, 150);
$rarity-common: rgb(255, 255, 255);
$rarity-uncommon: rgb(24, 240, 0);
$rarity-rare: rgb(0, 100, 195);
$rarity-very-rare: rgb(146, 56, 208);
$rarity-mythic: rgb(200, 60, 0);
$rarity-item-set: rgb(240, 190, 40);
$tooltip-item-set-enabled: rgb(0, 255, 0);
$tooltip-item-set-disabled: rgb(175, 175, 175);
$tooltip-item-bonus: rgb(255, 255, 0);

.item-name-utility {
  color: $rarity-utility;
}
.item-name-common {
  color: $rarity-common;
}
.item-name-uncommon {
  color: $rarity-uncommon;
}
.item-name-rare {
  color: $rarity-rare;
}
.item-name-very-rare {
  color: $rarity-very-rare;
}
.item-name-mythic {
  color: $rarity-mythic;
}
.item-name-item-set {
  color: $rarity-item-set;
}

.item-figure {
  border: 1px solid;
  border-radius: 2px;
}

.item-figure-utility {
  border-color: $rarity-utility;
}
.item-figure-common {
  border-color: $rarity-common;
}
.item-figure-uncommon {
  border-color: $rarity-uncommon;
}
.item-figure-rare {
  border-color: $rarity-rare;
}
.item-figure-very-rare {
  border-color: $rarity-very-rare;
}
.item-figure-mythic {
  border-color: $rarity-mythic;
}
.item-figure-item-set {
  border-color: $rarity-item-set;
}

.item-text-set-bonus-enabled {
  color: $tooltip-item-set-enabled;
}

.item-text-set-bonus-disabled {
  color: $tooltip-item-set-disabled;
}

.item-text-buff {
  color: $tooltip-item-set-enabled;
}

.stats-text-highlight {
  color: $tooltip-item-bonus;
}

.skirmish-top-damage-player {
  height: 148px;
  border-left: solid 3px rgb(220, 43, 25);
}

.skirmish-top-deathblows-player {
  height: 148px;
  border-left: solid 3px rgb(186, 42, 26);
}

.skirmish-top-healing-player {
  height: 148px;
  border-left: solid 3px rgb(0, 146, 81);
}

.skirmish-top-protection-player {
  height: 148px;
  border-left: solid 3px rgb(1, 78, 154);
}

.text-color-order {
  color: rgb(0, 148, 225);
}

.text-color-destruction {
  color: rgb(255, 5, 5);
}

.popup {
  position: absolute;
  top: 0px;
  left: 64px;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 10px 30px 10px;
  min-width: 88%;
  border-radius: 5px;
  border: 1px solid rgb(82, 52, 71);
  z-index: 5;
  pointer-events: none;
}
