@charset "utf-8";

$scheme-main: rgba(20, 20, 20, 0.5);
$scheme-main-ter: rgba(50, 50, 50, 0.2);
$scheme-main-bis: rgba(50, 50, 50, 0.2);

$primary: #bf4000;
$dark: #450404;
$link: #f90;
$info: #bbb;
$text: #877b69;
$text-strong: rgb(227, 214, 196);

$family-secondary: 'Caslon Antique Regular';

$navbar-height: 41px;
$navbar-padding-vertical: 20px;
$navbar-item-color: rgb(255, 153, 0);
$navbar-item-hover-color: #fff;
$navbar-item-hover-background-color: 'transparent';

$table-cell-border: none;
$table-row-hover-background-color: rgba(0, 0, 0, 0.5);
$table-striped-row-even-hover-background-color: rgba(0, 0, 0, 0.5);

@import '../node_modules/bulma/bulma.sass';

// RoR style on navbar
nav.navbar {
  background: url('https://www.returnofreckoning.com/forum/styles/dawar/theme/images/bar-bg-red.jpg')
    no-repeat scroll 50% 100% #2a0304;
  font-family: Arial, sans-serif;
  font-size: 13px;
  border-bottom: 1px solid #7e0505;
}

a.navbar-item {
  border-right: 3px solid #450404;
  border-left: 1px solid #230101;
}

html {
  background: #000
    url('https://www.returnofreckoning.com/forum/styles/dawar/theme/images/theme/ror.jpg')
    no-repeat top center fixed;
}

@font-face {
  font-family: 'Caslon Antique Regular';
  font-style: normal;
  font-weight: normal;
  src:
    local('Caslon Antique Regular'),
    url('Caslo-an.woff') format('woff');
}

tr.scenario-scoreboard-row-team-0 {
  background-color: rgba(12, 47, 158, 0.2);
  border-bottom: 2px solid #000000;
}

tr.scenario-scoreboard-row-team-1 {
  background-color: rgba(158, 12, 13, 0.2);
  border-bottom: 2px solid #000000;
}

p.scenario-score-order {
  color: rgba(12, 47, 158);
  font-weight: bold;
}

p.scenario-score-destruction {
  color: rgba(158, 12, 13);
  font-weight: bold;
}

td.scenariolist-score-order {
  color: rgba(12, 47, 158);
  font-weight: bold;
}

td.scenariolist-score-destruction {
  color: rgba(158, 12, 13);
  font-weight: bold;
}

tr.skirmish-scoreboard-row-realm-order {
  background-color: rgba(12, 47, 158, 0.2);
  border-bottom: 2px solid #000000;
}

tr.skirmish-scoreboard-row-realm-destruction {
  background-color: rgba(158, 12, 13, 0.2);
  border-bottom: 2px solid #000000;
}

thead .ascending::after {
  content: url(../public/images/icons/scenario/uparrow.png);
  display: inline-block;
  position: absolute;
  top: 5px;
  transform: scale(0.5);
}

thead .descending::after {
  content: url(../public/images/icons/scenario/downarrow.png);
  display: inline-block;
  position: absolute;
  top: 10px;
  transform: scale(0.5);
}

div.scenario-scoreboard-tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(227, 214, 196);
  padding: 10px;
}

.tooltip {
  cursor: help;
}

$mythic: gold;
$epic: orange;
$very-rare: rgb(189, 81, 222);
$rare: #02a4fb;
$uncommon: #00c100;
$common: rgb(180, 180, 180);

.item-name-7X {
  color: $mythic;
}
.item-name-6X {
  color: $epic;
}
.item-name-5X {
  color: $very-rare;
}
.item-name-4X {
  color: $uncommon;
}
.item-name-3X {
  color: $rare;
}
.item-name-2X {
  color: $common;
}
.item-name-1X {
  color: $common;
}
.item-name-0X {
  color: $common;
}

.item-figure {
  border: 1px solid;
  border-radius: 2px;
}

.item-figure-7X {
  border-color: $mythic;
}
.item-figure-6X {
  border-color: $epic;
}
.item-figure-5X {
  border-color: $very-rare;
}
.item-figure-4X {
  border-color: $rare;
}
.item-figure-3X {
  border-color: $uncommon;
}
.item-figure-2X {
  border-color: $common;
}
.item-figure-1X {
  border-color: $common;
}
.item-figure-0X {
  border-color: $common;
}

.stats-text-highlight {
  color: gold;
}

.skirmish-top-damage-player {
  height: 148px;
  border-left: solid 3px rgb(220, 43, 25);
}

.skirmish-top-deathblows-player {
  height: 148px;
  border-left: solid 3px rgb(186, 42, 26);
}

.skirmish-top-healing-player {
  height: 148px;
  border-left: solid 3px rgb(0, 146, 81);
}

.skirmish-top-protection-player {
  height: 148px;
  border-left: solid 3px rgb(1, 78, 154);
}

.text-color-order {
  color: rgb(0, 148, 225);
}

.text-color-destruction {
  color: rgb(255, 5, 5);
}
